html{
	background: #fff;
}
body{
	width: 1000px;
	height: 600px;
	background: #ffffff;
	overflow: hidden;
	margin: 0;
}

.pub{
	width: 1000px;
	height: 130px;
	overflow: hidden;
	position: relative;
	/*left: 20px;*/
}
.pub img{
	width: 900px;
	height: 100px;
	text-align: center;
	margin: 15px 50px 15px 50px;
}
.pub a{
	position: absolute;
	right: 55px;
	bottom: 20px;
}
.menu{
	margin-top: 2px;
	padding: 10px 10px 10px 10px;
	width: 200px;
	background: #ffffff;
}

.fildariane{
	width: 500px;
	position: absolute;
	top: 130px;
	left: 220px;
	background: #ffffff;
}

.fildariane li{
	display: inline;
	padding-right: 20px;
	padding-left: 10px;
	border-right: solid 1px;
}

.fildariane li:last-child{
	border-right: 0px;
}

.produit{
	width:700px;
	position: absolute;
	top: 180px;
	left: 270px;
}

.produit img{
	float: left;
	width: 350px;
	height: 300px;
	margin: 15px 80px 15px 0px;
}

