
body{
	width: 1000px;
	height: 600px;
	overflow: hidden;
	margin: 0;
}
$goutiere:15px;
.pub{
	width: 1000px;
	height: 130px;
	overflow: hidden;
	position: relative;
	// left: 20px;

	img{
		width: 900px;
		height: 100px;
		text-align: center;
		margin: $goutiere 50px $goutiere 50px;
	}
	a{
		position: absolute;
		right: 55px;
		bottom: 20px;
	}
}

.menu{
	margin-top: 2px;
	padding: $goutiere $goutiere $goutiere $goutiere;
	width: 150px;
}

.fildariane{
	width: 700px;
	position: absolute;
	top: 9*$goutiere;
	left: 220px;

	li{
	display: inline;
	padding-right: $goutiere;
	padding-left: $goutiere;
	border-right: solid 1px;
}

	li:last-child{
	border-right: 0px;
}
}

.produit{
	width:700px;
	position: absolute;
	top: 180px;
	left: 220px;

	img{
	float: left;
	width: 350px;
	height: 300px;
	margin: $goutiere 80px $goutiere 0px;
}
}
