.pub img{
	width: 1000px;
	height: 130px;
	padding: 15px;
	margin-left: 25px;
	text-align: center;
}

.menu{
	margin-top: 2px;
	padding: 10px;
	width: 200px;
	text-align: left;
}

.fildariane{
	width: 50%;
	float: right;
	
}