$goutiere: 15px;
$hauteur-pub: 180px;
$largeur-pub: 1000px;

body{
	background-image: url("christmas.jpg");
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

h1{
	color: #AA00FF;
	margin: 30px 0px 20px 400px;
	display: inline-block;
	font-size: 50px;
}


body{
	width: 1000px;
	height: 600px;
	margin: 0;
}


.menu{
	font-size: 20px;
	margin-top: 200px;
	margin-left: 50px;
	padding: $goutiere $goutiere $goutiere $goutiere;
	width: 150px;
	@include border-radius(5px);
	border: inset #cc9922;

}
 

.fildariane{
	width: 700px;
	position: absolute;
	top: 150px;
	left: 220px;
	@include border-radius(5px);

	ul{
		margin: 0;
		padding: 0;
	}
	li{
		display: inline;
		padding-right: $goutiere;
		padding-left: $goutiere;
		border-right: solid 1px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			border-right: 0px;
		}
	}
}

.produit{
	width:700px;
	position: absolute;
	top: 240px;
	left: 300px;

	h2{
		color: #000000;
		text-decoration: underline;
	}

	img{
		float: left;
		width: 350px;
		height: 300px;
		margin: $goutiere 80px $goutiere 0px;
		background-color: blue;
	}
}
