$goutiere: 15px;
$hauteur-pub: 180px;
$largeur-pub: 1000px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


body{
	width: 1000px;
	height: 600px;
	margin: 0;
}
.pub{
	width: $largeur-pub;
	height: $hauteur-pub;
	overflow: hidden;
	position: relative;

	img{
		width: $largeur-pub  - 2 * $goutiere;
		height: $hauteur-pub - 2 * $goutiere;
		text-align: center;
		margin: $goutiere 50px $goutiere 50px;
		display: inline-block;
	}
	a{
		position: absolute;
		right: $goutiere * 2;
		bottom: $goutiere * 2;
	}
}

.menu{
	margin-top: 2px;
	padding: $goutiere $goutiere $goutiere $goutiere;
	width: 150px;
	@include border-radius(5px);
}

$decalage-haut-ariane: $goutiere + $hauteur-pub; 

.fildariane{
	width: 700px;
	position: absolute;
	top: $decalage-haut-ariane;
	left: 220px;
	@include border-radius(5px);

	ul{
		margin: 0;
		padding: 0;
	}
	li{
		display: inline;
		padding-right: $goutiere;
		padding-left: $goutiere;
		border-right: solid 1px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			border-right: 0px;
		}
	}
}

.produit{
	width:700px;
	position: absolute;
	top: 240px;
	left: 220px;

	img{
		float: left;
		width: 350px;
		height: 300px;
		margin: $goutiere 80px $goutiere 0px;
	}
}
